<ion-header>
  <ion-toolbar>
    <ion-title>
      Reservation Made
    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button routerLink="/profile/edit">Edit</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>Name</ion-col>
      <ion-col>{{reservationDetails.name}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Email</ion-col>
      <ion-col>{{reservationDetails.email}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Contact Number</ion-col>
      <ion-col>{{reservationDetails.contactNum}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Date of Birth</ion-col>
      <ion-col>{{reservationDetails.dob}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>UserName</ion-col>
      <ion-col>{{reservationDetails.username}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Selected HairStylist</ion-col>
      <ion-col>{{reservationDetails.hairStylist}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>